*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
#aboutimg{
    height: 60vh;
    width: 100vw;
   }
   .container h1{
    position: absolute;
    top: 25%;
    left: 40%;
    color: aliceblue;
    font-size: 80px;
    
   }
   .main div{
    margin-bottom: 10px;
   }